<app-header></app-header>
<div class="content">
    <router-outlet></router-outlet>
</div>


<footer>
<div class="sfr"><img src="favicon.ico">
<h3>SFR BUSINESS</h3>
</div>
  <div class="sfr">
    <h2>Nos collaborateurs:</h2>
    <h4>William Zivic<br>Renaud Giraud<br>Nicolas Rolly<br>Jean-Francois Guihard<br>Oussama Kinani<br>Ludovic Bonato<br>Ali Isaac Menina<br>Davy Lao</h4>
  </div>
  <div class="sfr">
    <br><br><br>
    <h6>&copy;2022 SFR Business | Réalisé par Oussama Kinani  </h6>
  </div>
</footer>
